/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY STYLING */
html{
    font-size: 62.5%;
}

body{
    font-family: "Fraunces", serif;
}

ul, ol{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}
p,a{
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}

/*  */

main{
    background-color: #5E5E5E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: 	#1f1f1f;
    color: #fff;
    width: 450px;
    border-radius: 10px;
    padding: 4rem 2.5rem;
}

.imgCtn{
    margin: 0 auto;
    aspect-ratio: 2/1;
    padding: 0 10rem;
    border-radius: 10px;
}
.imgCtn img{
    border-radius: 10px;
}
.textCtn{
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}
/* .textCtn  h3{
    font-size: 2rem;
} */
.contactDetails{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.contactDetails > h3{
    font-size: 2.4rem;
}
[data-testid="emailAddress"] > a{
    color: inherit;
}
[data-testid="jobTitle"]{
    color: 	#c5f82a;
}
[data-testid="shortBio"]{
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: left;
}

.socialLinks{
    margin-top: 3.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.socialLinks li{
    border-radius: 5px;
    padding: 1rem;
    background-color: #333;
}
.socialLinks li > a{
    width: 100%;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.socialLinks li > a > i{
    margin-right: 2rem;
}

.date{
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin-top: 3rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}
#time{
    color: #c5f82a;
}